
/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: rgba(231, 117, 199, 0.829);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
}